/* .paper{
    display: flex;
} */
.paper-research1{
    margin-top: 50px;
    width: 100%;
    height:200px;
    /* border:1px solid rgb(218, 61, 61); */
}
.paper-research1 a{
    text-decoration: none;

}


.paper-research2{
    font-size: 50px;
    margin-left: 45px;
    margin-top: 50px;
    width: 800px;
    height: 550px;
    background-color: greenyellow;
    /* border:1px solid rgb(218, 61, 61); */
}
.a{
    text-decoration:none;
}
.paper3{
    margin-top: 50px;
    /* margin-bottom: 20px;    */
    border-top:3px solid gray;
    /* margin-left: 45%; */
    display: flex;
    justify-content:center;
    align-items:Center;
}
.paper4{
    /* margin-top: 50px; */
    margin-bottom: 20px;   
    border-bottom:1px solid gray;
    /* margin-left: 45%; */
    display: flex;
    justify-content:center;
    align-items:Center;
}
.paper2{
    background-color: rgb(154, 203, 236);
    /* background-color: pink; */
    font-size: 18px;
}
.years{
    display: flex;
    justify-content:center;
    align-items:Center;
}
