.paper{
    display: flex;
}
.paper-research1{
    margin-top: 50px;
    width: 400px;
    height: 550px;
    /* border:1px solid rgb(218, 61, 61); */
}
.paper-line{
    margin-top: 50px;
    width: 5px;
    height: 550px;
    /* border: 1px solid rgb(218, 61, 61); */
    background-color: rgb(255, 47, 47);
}
.paper-research2{
    font-size: 50px;
    margin-left: 45px;
    margin-top: 50px;
    width: 800px;
    height: 550px;
    background-color: greenyellow;
    /* border:1px solid rgb(218, 61, 61); */
}
.paper-research11{
    font-size: 50px;
    margin-top: 30px;
    margin-left: 30px;
    width: 300px;
    height: 150px;
    background-color: greenyellow;
    }
.paper-research12{
    font-size: 50px;
    margin-top: 30px;
    margin-left: 30px;
    width: 300px;
    height: 150px;
    background-color: greenyellow;
    }
.paper-research13{
    font-size: 50px;
    margin-top: 30px;
    margin-left: 30px;
    width: 300px;
    height: 150px;
    background-color: greenyellow;
    }