


.main-content img {
   width: 100px;
}
.main-pro img {
    width: 150px;
 }
.main-group1{
    font-size: 25px;
    border-top:1px solid gray;
    margin-top: 30px; 
    padding-top: 30px; 
    padding-left: 45%; 
 
}
.main-content{
    display: flex;
    color:black;
    font-size: 20px;
    margin-top: 30px;   
    padding-top: 30px;
}
.main-pro{
    display: flex;
    color:black;
    font-size: 25px;
    margin-top: 50px;
    border-top:1px solid gray;
    padding-top: 30px;
    justify-content: center;
}